{% extends "chat/base_generic.html" %}
{% load static %}

{% block title %}Ecrire un Aticle{% endblock %}
{% block page_title %}Ecrire un Article{% endblock %}


    <style>
        {% block css %}

        .form-control {
            border-width: 1px;
            border-color: darkblue;
        }

        body{
            background: url('{% static 'chat/img/manuscrit_plume.png' %}');
            padding: 20px 0 20px 0;
        }

        {% endblock css %}
    </style>


{% block content %}
<div class="comment-create-container" style="background: url('{% static 'chat/img/manuscrit_plume.png' %}') no-repeat center center; background-size: cover; padding: 40px 0;">
    <div class="container mx-auto" style="width: 90% ;background: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 8px;">
        <h2 style="color: #333; font-weight: bolder;">Ecrire un Article</h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    <label for="title" class="form-label fw-bolder">Titre (facultatif)</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Entrez un titre">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label fw-bolder">Nouvel article</label>
                    <textarea class="form-control" name="body" id="body" rows="4" placeholder="Écrivez votre article ici"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Poster votre article</button>
            </form>



    </div>
</div>
{% endblock %}
